*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    


#menu{
    background-color: goldenrod;
    text-align: center;
    position: sticky;
    top: 0;
}
#menu a{
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: black;
    
    
}
#menu a:hover{
    text-decoration: underline;
    color: blue;
}
#info p{
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
}
#main_div{
    background-color: aliceblue;
    width: 25%;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
}
#image{
    text-align: center;
    margin: 20px;
}
#image img{
    width: 100%;
}
#info1 h4{
    margin: 15px 0;
}
#info1 h4 a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5;
}
#info1 h4 a:hover{
    color: orange;
    text-decoration: underline;
}
#info1 ul{
    margin-bottom: 15px;
}
#info1 ul li{
    color: black;
    line-height: 1.5;
    margin-left: 10px;
    font-size: 18px;
}
#info1 h5{
    color: coral;
    text-align: center;
    font-size: 23px;
    margin: 10px;
}
div#button button{
    display: block;
    width: 100%;
    margin: 10px;
    font-size: 20px;
    background-color: blanchedalmond;
    padding: 15px 10px;

}
div#button button:hover{
    background-color: blue;
    color: white;
}

#parent_div{
    position: relative;
    width: 300px;
    margin: 20px;
    
}
#parent_div img{
    width: 100%;
    border-radius: 50px;
}

#overly{
    position: absolute;
    top: 150px;
    left: 80px;
    background-color: cornflowerblue;
    transform: scale(0);
    transition: 300ms;
}
#overly a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
#overly a:hover{
    text-decoration: underline;
    color: blue;
}
#parent_div:hover #overly{
transform: scale(1);
}
#fixed{
    font-size: 20px;
    background-color: blue;
    padding: 10px 15px;
    position: fixed;
    color: white;
    right: 0;
    bottom: 0;
}
#info2 p{
    text-align: justify;
    font-size: 18px;
}